*{
    margin: 0;
}

.community{
 
    top: 0;
    width: 390px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-color: rgb(129, 129, 129);
    height: 1878px;
}



.community_filter > img{
    width: 60px;
    margin-top: -5px;
    margin-left: 10px;
    margin-right: 15px;
}
.community_filter{
    display: flex;
    overflow: auto; 
    white-space: nowrap; 
}
::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

.community_filter > button{
    height: 25px;
    color: #000000;
    cursor: pointer;
    margin-top: 9px;
    border: none;
    margin-right: 20px;
    
}
.community_filter >button > p{
    width: 53px;
  height: 16px;
  font-family: 'Nanum Gothic';
  font-size: 14px;
  font-weight: 900;

  text-align: center;
  color: #000;
}



.community_post{
    width: 350px;
  height: 173px;
  border-radius: 8px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  margin-left: 20px;
}

.community_post_profile{
    display: flex;
}

.community_post_profile_reply_img{
    width: 15px;
    height: 15px;
}

.community_advertise > img{
    width: 350px;
  height: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
}