*{
    margin: 0;
}

.home{
 
    top: 0;
    width: 390px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-color: rgb(190, 190, 190);
    height: 1384px;
}


.home_story{
    display: flex;
}
.home_story > img{
    width: 89.9px;
    height: 159.8px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.home_4rt{
    display: flex;
}

.home_card_news1{
     display: flex;
}

.home_card_news2{
    display: flex;
}
.home_circle_event{
    display: flex;
}
.home_circle_event_1{
    width: 80px;
    height: 80px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-radius: 50%;
}
.home_circle_event_2{
    width: 80px;
    height: 80px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-radius: 50%;
}
.home_circle_event_3{
    width: 80px;
    height: 80px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    border-radius: 50%;
}

.home_partner{
    display: flex;
}

.home_partner_logo{
    display: flex;
}

.home_advertise >img{
    width: 390px;
    height: 100px;
}