*{
    margin: 0;
}

.teamchannel{
 
    top: 0;
    width: 390px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background-color: rgb(190, 190, 190);
    height: 1878px;
}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}