.user_profile_insta_btn{
    width: 325px;
    height: 95px;
    margin: 0 0px 0 0;
    object-fit: contain;
    background-repeat: no-repeat;
}

.user_profile_bookmark_btn{
    width: 95px;
    height: 95px;
    margin-left: -20px;
}

.user_profile_btns{
    display: flex;
    margin-top: 128px;
    margin-bottom: -130px;
}